<!DOCTYPE html>
<div class="main-body">
  <div class="row">
    <a class="topic" id="painting" href="/painting">
      <div class="word" id="trans">painting</div>
    </a>
    <a class="topic" id="fashion" href="/fashion">
      <div class="word" id="trans">fashion</div>
    </a>
    <a class="topic" id="github" href="https://github.com/ingridzippe" target="_blank">
      <div class="word" id="trans">github</div>
    </a>
  </div>
  <div class="row">
    <a class="topic" id="drip" href="https://itunes.apple.com/us/app/drip/id1309335824?ls=1&mt=8" target="_blank">
      <div class="word" id="trans">drip</div>
    </a>
    <a class="topic" id="center-topic">
      <div class="word" id="trans">center</div>
    </a>
    <a class="topic" id="content" href="/content">
      <div class="word" id="trans">content</div>
    </a>
  </div>
  <div class="row">
    <a class="topic" id="threed" href="/3d">
      <div class="word" id="trans">3D</div>
    </a>
    <a class="topic" id="video" href="/video">
      <div class="word" id="trans">video</div>
    </a>
    <a class="topic" id="bio" href="/bio">
      <div class="word" id="trans">bio(?)</div>
    </a>
  </div>
</div>
