<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <!-- {{> main}} -->
    <div class="topic-page">
      <!-- <a href="/"><div class="x" href="/"><i class="fas fa-times" id="x"></i></div></a> -->
      <a href="/"><div class="arrow" href="/"><i class="fa fa-chevron-left" id="arrow"></i></div></a>
        <h6 class="heading-bold">Bio</h6> 
        <div class="biobox">
            <div class="biophoto"></div>       
            <h3 class="bio">Hi, my name is Ingrid. My passions are technology, innovation, visual art, and popular culture. I am a designer who finds joy in solving creative and technical problems. I am interested in how the Internet influences social behavior, expands the reach of artistic content, and makes ideas carry further faster. I thrive while doing project-driven work, and I am happiest when I am building and making things. Beyond technology and art, my interests include my friends, coffee, meeting new people, exercising, and watching YouTube videos. I am a graduate from Brown University where I studied Computer Science and Visual Art.</h3>
            <a id="clickable" href="/pdfs/IngridZippe_Resume.pdf" target="_blank"><h6 class="heading-bold" id="click">Resume</h6></a>
            <a id="clickable" href="https://www.linkedin.com/in/ingrid-zippe-8a967635/" target="_blank"><h6 class="heading-bold" id="click">LinkedIn</h6></a>
        </div>
    </div>
</body>
