<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    {{> main}}
    <div class="content">
            <!-- <h4 class="slogan">Find cool things to do. <br> Get there with your friends.</h4> -->
            <h4>The content I look forward to creating includes:</h4>
            <ul>
              <li>A musical EP of 5-6 popular songs.</li>
              <li>Two creative photoshoots per week, so
                  <br>roughly 100 photoshoots.</li>
              <li>4 high-quality music videos</li>
            </ul>

            <h4>The ways in which I will share my work include:</h4>
            <ol>
              <li>Sharing images on Instagram.</li>
              <li>Sharing videos on YouTube and Vimeo.</li>
              <li>Sharing music to Spotify.</li>
              <li>Hosting a cumulative party at the completion <br>
                  of my residency which debuts my EP, is a way <br>
                  to thank mentors, collaborators, and friends, <br>
                  and allows the project to be engaged with by <br>
                  other leaders in the creative arts.
            </ol>

            <h4 class="goal">My goal during the residency is to develop my voice as a content creator. I have a strong vision for visual presentation, which I want to continue to realize in photographs and video work. I would like to continue to refine and craft my musical voice in the style of pop songs.</h4>


        </div>
	    </div>
    </div>
</body>
