<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  {{> main}}
	<div class="text">
		<h2>ingrid_zippe@brown.edu</h2>
    <h2 id="jimin">borajimin@gmail.com</h2>
    <h3 id="dropusaline">Drop us a line.</h3>
		<!-- <h3 class="testflight">
			<a class="testflight" href="https://ingridzippe.typeform.com/to/GC58HL" target="_blank">
				Download for iOS.
			</a>
		</h3> -->
    </div>
    </div>
</body>
