<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <!-- {{> main}} -->
    <div class="topic-page">
      <!-- <a href="/"><div class="x" href="/"><i class="fas fa-times" id="x"></i></div></a> -->
      <a href="/"><div class="arrow" href="/"><i class="fa fa-chevron-left" id="arrow"></i></div></a>
      <h6 class="heading-bold">Fashion</h6>
        <h4 class="description">I designed, patterned, and constructed the following garments.</h4>
        <div class="twowide">
          <div class="onephoto" id="mini1"></div>
          <div class="twophoto" id="mini2"></div>
        </div>

        <div class="twowidevert">
          <div class="onephotovert" id="mini3"></div>
          <div class="twophotovert" id="mini4"></div>
        </div>

        <div class="twowide">
          <div class="onephoto" id="mini5"></div>
          <div class="twophoto" id="mini6"></div>
        </div>

        <div class="twowidevert">
          <div class="onephotovert" id="neon1"></div>
          <div class="twophotovert" id="neon2"></div>
        </div>

        <div class="twowidevert">
          <div class="onephotovert" id="red1"></div>
          <div class="twophotovert" id="red2"></div>
        </div>

        <div class="twowidevert">
          <div class="onephotovert" id="red3"></div>
          <div class="twophotovert" id="red4"></div>
        </div>

        <!-- <div class="center" id="seventy">
          <iframe width="728" height="409.5" src="https://www.youtube.com/embed/a5BD99GR930" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="center">
          <iframe width="608" height="458" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/407827770&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          <iframe width="608" height="458" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/407827770&color=%23cf1818&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>

         d<div class="center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/EgOe_qFMrsk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="center" id="marginbottom">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/IBk5v1vG9cs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div> -->

    </div>
</body>
