<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  {{> main}}
	 <!-- <div class="words">
		<div class="phone"></div>
		  <div class="text">
			  <h2>Bored? Lonely? Find cool things to do.</h2>
        <h3 class="blurb">
          Hi, my name is Ingrid. I am applying to the Adobe Creative Residency. My goal during the creative residency is to release an EP of popular songs and to create a litany of visual photographs and music videos. I believe that popular culture is one of the most powerful influences on how people view themselves and relate to one another today. By entertaining and sharing my truth, I hope to encourage other people to be themselves.
        </h3>
	   </div>
    </div> -->
</body>
