<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    {{> main}}
    <div class="content">
            <!-- <h4 class="slogan">Find cool things to do. <br> Get there with your friends.</h4> -->
            <h6 class="heading-bold" id="start">Initial Inspiration</h6>
            <h4 class="blob">I became obsessed with pop culture about a year and
            half ago when I was sitting on my bed watching a music video by Zara Larsson.
            I realized that, while I'd never cried before in a gallery setting or while
            admiring a designed object, I was free to watch music videos alone in
            the comfort of my own bedroom and relate to them in my own way.</h4>

            <h4 class="blob">I was going through my first really big break up,
            and Zara's experiences told in song helped me with my own pain.
            Here is one of the videos: </h4>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/rVO2byp-tWg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <h4 class="blob">Halsey's concept album, Badlands, changed my life.
            At a time when I felt confused and perfectly alone, the content of her
            album, especially through the eyes of a woman my age, helped me understand
            that other people had felt was I was feeling.
            </h4>

            <h4 class="blob">Artistically, Badlands taught me that a song could be pop
            and emotionally important as well. Here is a song from the Badlands album:
            </h4>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/heMTVlawFmM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <h6 class="heading-bold" id="start">Content I Personally Admire</h6>
            <h4 class="blob">Here are several videos that embody artistic excellence for me -
            thematically, musically, and in terms of art direction in the video: </h4>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/5Ao5mg11xIk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/49lY0HqqUVc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/r-Nw7HbaeWY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/eT6dLJd3rYk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/BQ0mxQXmLsk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2d7U4CX0PHk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/-tn2S3kJlyU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <h6 class="heading-bold" id="start">The Future of Pop Culture</h6>
            <h4 class="blob">I see a new type of leadership emerging through pop culture. When a person
            gain a following through the authenticity of their creative voice, it tends to lead to a sustainable
            form of leadership.
            </h4>

            <h4 class="blob">
            I was so excited when I found out that Kehlani,
            one of my favorite singers, just started a mobile application with two of her friends called Flora.
            I attended the AfroTech conference in San Francisco where I got to meet her and speak with her about
            her plans. I think she is going to be a great CEO for Flora, the goal of which is to educate people
            about environmentally-conscious living.
            </h4>

            <div class="center">

            <div>
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/Bc--X3Cnx45/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.5% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/Bc--X3Cnx45/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">ending 2017 with our new office. God just keeps on BLESSING! Excited for our 2018. Go team! @floralivingapp 🧡</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/kehlani/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> ARTIVIST 333</a> (@kehlani) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-12-22T00:15:01+00:00">Dec 21, 2017 at 4:15pm PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
            </div>

            <h4 class="blob" id="marginbottom">
            will.i.am, former Black Eyed Peas member, just raised $117 million to grow a technology startup.
            Rihanna is now the Creative Director at Puma. In general, I think music and culture is where society's
            most creative minds are working right now. I would like to make more and more connections within
            this community and continue to increase the quality of my creative content until I can do justice for
            my inner voice.
            </h4>

            </div>


    </div>
</body>
