<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <!-- {{> main}} -->
    <div class="topic-page">
      <!-- <a href="/"><div class="x" href="/"><i class="fas fa-times" id="x"></i></div></a> -->
      <a href="/"><div class="arrow" href="/"><i class="fa fa-chevron-left" id="arrow"></i></div></a>
      <h6 class="heading-bold">Painting</h6>

        <div class="paintingcenter">
          <div class="paintingphoto" id="paint1"></div>
          <div class="paintingphoto" id="paint2"></div>
          <div class="paintingphoto" id="paint3"></div>
          <div class="paintingphoto" id="paint4"></div>
          <div class="paintingphoto" id="paint5"></div>
          <div class="paintingphoto" id="paint8"></div>
          <div class="paintingphoto" id="paint7"></div>
          <div class="paintingphoto" id="paint9"></div>
          <div class="paintingphoto" id="paint6"></div>
        </div>

<!--         <div class="paintingleft">
          <div class="paintingphoto" id="paint1"></div>
          <div class="paintingphoto" id="paint3"></div>
          <div class="paintingphoto" id="paint5"></div>
          <div class="paintingphoto" id="paint7"></div>
          <div class="paintingphoto" id="paint9"></div>
        </div>

        <div class="paintingright">
          <div class="paintingphoto" id="paint2"></div>
          <div class="paintingphoto" id="paint4"></div>
          <div class="paintingphoto" id="paint6"></div>
          <div class="paintingphoto" id="paint8"></div>
        </div> -->

    </div>
</body>
