<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <!-- {{> main}} -->
    <div class="topic-page">
      <!-- <a href="/"><div class="x" href="/"><i class="fas fa-times" id="x"></i></div></a> -->
      <a href="/"><div class="arrow" href="/"><i class="fa fa-chevron-left" id="arrow"></i></div></a>
      <h6 class="heading-bold">Photo</h6>
        <h4 class="description">I created the art direction, did the final editing, and modeled in the following photos.</h4>

        <div class="threewide" id="forty">
          <div class="photophoto" id="photo13"></div>
          <div class="photophoto" id="photo14"></div>
          <div class="photophotothree" id="photo15"></div>
        </div>

        <div class="threewide">
          <div class="photophoto" id="photo10"></div>
          <div class="photophoto" id="photo11"></div>
          <div class="photophotothree" id="photo12"></div>
        </div>

        <div class="threewide">
          <div class="photophoto" id="photo1"></div>
          <div class="photophoto" id="photo2"></div>
          <div class="photophotothree" id="photo3"></div>
        </div>

        <div class="threewide">
          <div class="photophoto" id="photo4"></div>
          <div class="photophoto" id="photo5"></div>
          <div class="photophotothree" id="photo6"></div>
        </div>

        <div class="threewide">
          <div class="photophoto" id="photo16"></div>
          <div class="photophoto" id="photo17"></div>
          <div class="photophotothree" id="photo18"></div>
        </div>

    </div>
</body>
