<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    {{> main}}
    <div class="content">
            <!-- <h4 class="slogan">Find cool things to do. <br> Get there with your friends.</h4> -->
            <h6 class="heading-bold" id="start">Photographs</h6>
            <h4 class="blob">Photographs are one of the most immediate ways
            to connect with others. When shared with consistency, they become
            one of the most effective ways to communicate aesthetic values or
            the tone behind a project. Here is a sampling of the photographs I have taken
            with this project in mind.</h4>



<!-- When created with a consistent vision, they become
            one of the most effective ways to communicate an aesthetic or the values
            behind a project.</h4> -->

            <div class="threewide">
              <div class="onephoto" id="earbuds_one"></div>
              <div class="onephoto" id="earbuds_two"></div>
              <div class="twophoto" id="earbuds_three"></div>
            </div>

            <div class="threewide">
              <div class="onephoto" id="schoolgirl_one"></div>
              <div class="onephoto" id="schoolgirl_two"></div>
              <div class="twophoto" id="schoolgirl_three"></div>
            </div>


            <h6 class="heading-bold" id="start">Videos</h6>
            <h4 class="blob">Music videos are a key way that large audiences can
            be engaged today. Videos are easily shareable, can be readily embedded into
            online articles, and are easily found by those following your
            content. Here are the first two music videos I have shot and edited. I am
            always studying new music videos that I admire, and I am eager to hone
            my craft in this area.</h4>

            <div class="center" id="seventy">
              <iframe width="728" height="409.5" src="https://www.youtube.com/embed/a5BD99GR930" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="center" id="seventy">
              <iframe width="726" height="409.5" src="https://www.youtube.com/embed/PScGI6tmLK8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <h6 class="heading-bold" id="start">Music</h6>
            <h4 class="blob">I have always been a visually keen artist, and my interest
            in branching into music has developed in the past year or so. Here are several
            songs I have written. My knowledge of production, singing, and songwriting is
            evolving quickly, and I am excited to see the level of content I am able to
            develop over the next year.</h4>

<!--             <div class="center">
            <iframe width="608" height="458" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/407827770&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe> -->
<!--             <iframe width="608" height="458" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/407827770&color=%23cf1818&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe> -->
<!--             </div> -->

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/EgOe_qFMrsk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="center" id="marginbottom">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/IBk5v1vG9cs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

    </div>
</body>
