<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <!-- {{> main}} -->
    <div class="topic-page">
      <!-- <a href="/"><div class="x" href="/"><i class="fas fa-times" id="x"></i></div></a> -->
      <a href="/"><div class="arrow" href="/"><i class="fa fa-chevron-left" id="arrow"></i></div></a>
      <h6 class="heading-bold">Video</h6>        
        <h4 class="description">For the final project in a photography class I took, we were asked to choose an artist/creator and expand on themes in their work. I chose the video team BRTHR, and I made a video inspired by the art direction in Butterfly Effect.</h4>
        <div class="videocenter">

          <div class="threedvid">
            <iframe width="760" height="426" src="https://www.youtube.com/embed/_EyZUTDAH0U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

          <div class="threedvid">
            <iframe width="760" height="426" src="https://www.youtube.com/embed/O-QOUUb22-0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

        </div>
    </div>
</body>
