@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,700,800');
@import url(https://fonts.googleapis.com/css?family=Cormorant+Unicase:400,300);

body {
  background-color: #fff;
  color: #000;
}
.main-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /* border: 1px solid #000; */
	/* border-bottom: 2px solid #ededed; */
}
.topic-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.row {
  width: 100%;
  height: 33%;
  margin-bottom: 2px;
  margin-left: 6px;
}
.topic {
  display: inline-block;
  margin-left: -6px;
  /*width: 33.26%;*/
  width: 33.1%;
  /*background-color: #242424;*/
  /*background-color: #fff;*/
  /*background-color: #F5F5DC;*/
  background-color: #f5e9dc;
  background-color: #fff;
  background-color: #242424;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border: 2px solid; 
  /*border-color: #2f2e2c;*/
  /*border-color: #8c1729;*/
  /*border-color: #892d3b;*/
  /*border-color: #a74151;*/
  /*border-color: #aa5865;*/
  border-color: #aa6058;
  border-color: #b2987b;
  border-color: #b28c7b;
  border-color: #b07965;
  border-color: #696969;
  text-decoration: none;
  /*border-radius: 30px;*/
  color: #fff;
  font-size: 40px;
  font-family: 'Cormorant Unicase', serif;
}
.topic:hover {
  color: #fff;
  /*background-color: #000;*/
  /*background-color: #c45858;*/
  /*background-color: #242424;*/
  background-color: #484848;
  background-color: #4b4b4b;
  background-color: #4b4949;
  background-color: #494a4b;
}
.topic:active {
  color: #fff;
}
.word {
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 39%;
	color: #fff;
}
.word:hover {
	color: #fff;
}
.word:active {
	color: #fff;
}
#trans {
	color: transparent;
}
#center-topic {
  background-image: url('photos/front/smaller_headtilt.jpg');
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#fashion {
  background-image: url('photos/front/fashion_1.png');
  background-size: 30%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#github {
  background-image: url('photos/front/github_beige_2.png');
  background-size: 40%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#content {
  background-image: url('photos/front/camera_1.png');
  background-size: 34%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#drip {
  background-image: url('photos/front/drip.png');
  background-size: 40%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#painting {
  background-image: url('photos/front/painting_2.png');
  background-size: 30%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#video {
  background-image: url('photos/front/video_1.png');
  background-size: 30%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#threed {
  background-image: url('photos/front/3d_1.png');
  background-size: 39%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#bio {
  background-image: url('photos/front/bio_2.png');
  background-size: 30%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.modal {
  padding: 50px;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  width: 80%;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 24px;
  z-index: 2;
}
.x {
  position: absolute;
  left: 87%;
  width: 50px;
}
#x {
  text-decoration: none;
  color: #000;
  font-size: 30px;
}
.arrow {
  position: absolute;
  top: 40px;
  left: 14%;
  width: 50px;
}
#arrow {
  text-decoration: none;
  color: #000;
  font-size: 30px;
}
.heading-bold {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 27px;
	font-weight: bold;
	margin-top: 40px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}
.twowide {
	width: 100%;
	height: 350px;
	border-width: 1;
  margin-top: 40px;
}
.onephoto {
	float: left;
	width: 48.5%;
	height: 370px;
	margin-right: 2.1%;
}
.description {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 30px;
}
.paintingcenter {
  margin: auto;
/*  display: block;
  float: left;*/
  width: 60%;
}
.paintingleft {
  margin-left: 1.4%;
  display: block;
  float: left;
  width: 46%;
  height: 100%;
}
.paintingright {
  margin-left: 4.8%;
	display: block;
  float: left;
  width: 46%;
}
.paintingphoto {
  width: 100%;
  margin-top: 40px;
}
.threedcenter {
  margin: auto;
  width: 90%;
}
.threedvid {
  text-align: center;
  margin-top: 40px;
}
.threedphoto {
  display: block;
  float: left;
  width: 100%;
  margin-top: 40px;
}
.threedlarge {
  display: block;
  float: left;
  width: 62%;
  margin-top: 40px;
}
.threedsmall {
  display: block;
  float: left;
  margin-left: 3%;
  width: 34%;
  margin-top: 40px;
}
.#threvid {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
#threed1 {
  height: 330px;
  background: url("photos/3d/bedroom.jpg") no-repeat;
  background-position: 48% 20%;
  background-size: 104%;
}
#threed2 {
  height: 330px;
  background: url("photos/3d/cd.jpg") no-repeat;
  background-position: 48% 20%;
  background-size: 104%;
}
#threed3 {
  height: 330px;
  background: url("photos/3d/shoe_side.jpg") no-repeat;
  background-position: 37% 50%;
  background-size: 137%;
}
#threed4 {
  height: 330px;
  background: url("photos/3d/shoe_front.jpg") no-repeat;
  background-position: 43% 50%;
  background-size: 243%;
}
#threed5 {
  margin-top: 2%;
  height: 330px;
  background: url("photos/3d/shoe_inside.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 137%;
}
#threed6 {
  margin-top: 2%;
  height: 330px;
  background: url("photos/3d/shoe_back.jpg") no-repeat;
  background-position: 44% 50%;
  background-size: 243%;
}
.threewide {
  width: 100%;
  height: 370px;
  margin-top: 50px;
}
#forty {
  margin-top: 40px;
}
.photophoto {
  float: left;
  width: 31.8%;
  height: 370px;
  margin-right: 2%;
}
.photophotothree {
  float: left;
  width: 31.8%;
  height: 370px;
}
#photo1 {
  background: url("photos/photo/schoolgirl_1.jpg") no-repeat;
  background-position: 50% 80%;
  background-size: 164%;
}
#photo2 {
  background: url("photos/photo/schoolgirl_2.jpg") no-repeat;
  background-position: 40% 80%;
  background-size: 220%;
}
#photo3 {
  background: url("photos/photo/schoolgirl_3.jpg") no-repeat;
  background-position: 30% 10%;
  background-size: 120%;
}
#photo4 {
  background: url("photos/photo/projector_1.jpg") no-repeat;
  background-position: 50% 70%;
  background-size: 124%;
}
#photo5 {
  background: url("photos/photo/projector_2.jpg") no-repeat;
  background-position: 60% 80%;
  background-size: 138%;
}
#photo6 {
  background: url("photos/photo/projector_3.jpg") no-repeat;
  background-position: 13% 10%;
  background-size: 177%;
}
#photo7 {
  background: url("photos/photo/angels_2.jpg") no-repeat;
  background-position: 30% 90%;
  background-size: 116%;
}
#photo8 {
  background: url("photos/photo/rainbow_1.jpg") no-repeat;
  background-position: 60% 20%;
  background-size: 110%;
}
#photo9 {
  background: url("photos/photo/rainbow_2.jpg") no-repeat;
  background-position: 0% 00%;
  background-size: 120%;
}
#photo10 {
  background: url("photos/photo/blitz_1.jpg") no-repeat;
  background-position: 54% 50%;
  background-size: 223%;
}
#photo11 {
  background: url("photos/photo/blitz_3.jpg") no-repeat;
  background-position: 40% 50%;
  background-size: 210%;
}
#photo12 {
  background: url("photos/photo/blitz_3_1.jpg") no-repeat;
  background-position: 30% 50%;
  background-size: 216%;
}
#photo13 {
  background: url("photos/photo/mirror_1.jpg") no-repeat;
  background-position: 54% 90%;
  background-size: 217%;
}
#photo14 {
  background: url("photos/photo/mirror_2.jpg") no-repeat;
  background-position: 53% 50%;
  background-size: 138%;
}
#photo15 {
  background: url("photos/photo/pink_1.jpg") no-repeat;
  background-position: 37% 50%;
  background-size: 256%;
}
#photo16 {
  background: url("photos/photo/earbuds_1.jpg") no-repeat;
  background-position: 54% 80%;
  background-size: 135%;
}
#photo17 {
  background: url("photos/photo/earbuds_2.jpg") no-repeat;
  background-position: 46% 80%;
  background-size: 157%;
}
#photo18 {
  background: url("photos/photo/earbuds_3.jpg") no-repeat;
  background-position: 37% 55%;
  background-size: 155%;
}
.biobox {
  margin-left: 5%;
  margin-right: 6%;
}
.biophoto {
  float: left;
  margin-right: 35px;
  margin-bottom: 12px;
  /*margin-top: 50px;*/
  height: 350px;
  width: 420px;
  background: url("photos/photo/bio.png") no-repeat;
  background-position: 30% 30%;
  background-size: 140%;
}
.bio {
  margin-top: 45px;
  line-height: 1.3;
}
.videocenter {
  margin: auto;
  width: 100%;
}
#clickable {
  float: left;
  text-decoration: none;
  color: #000;
  margin-top: -25px;
  margin-right: 80px;
}

#box {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: #f00;
  border: 1px solid #32CD32;
}

/* .investor {
	text-decoration: none;
	color: #000;
} */
/* .investor:hover {
	color: #B3323F;
} */
/* .testflight {
	text-decoration: none;
	color: #000;
}
.testflight:hover {
	color: #B3323F;
}
.demo {
	text-decoration: none;
	color: #000;
}
.demo:hover {
	color: #B3323F;
}
.demo:active {
	color: #B3323F;
} */
.blurb {
  margin-top: 140px;
  margin-left: 40px;
  line-height: 1.4;
}
.words {
	padding-top: 100px;
	height: 780px;
	width: 1200px;
	margin: 0 auto;
/*  position: relative;
  top: 37%;
  transform: translateY(-50%);*/
/*    border: 1px solid #000;*/
}

#jimin {
	margin-top: 0px;
}
#dropusaline {
  margin-left: 200px;
}
.phone {
	float: left;
	position: relative;
	width: 49%;
	height: 780px;
	background: url("photos/larger_headtilt.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 90%;
/*	border: 1px solid #000;*/
}
.mongo {
	width: 80%;
	height: 400px;
	background: url("photos/old_tech.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
}
.sql {
	width: 80%;
	height: 400px;
	background: url("photos/new_tech_2.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin-bottom: 110px;
/*	border: 1px solid #000;*/
}
.landscape {
	width: 95%;
	height: 800px;
	background: url("photos/landscape.png") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
/*	border: 1px solid #000;*/
}
.mac {
	width: 50%;
	height: 400px;
	background: url("photos/mac.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin: 30px;
/*	border: 1px solid #000;*/
}
.iqram {
	width: 37%;
	height: 300px;
	background: url("photos/iqram.png") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin: 30px;
/*	border: 1px solid #000;*/
}
#iqram {
	padding-bottom: 0px;
}
.ense {
	width: 13%;
	height: 120px;
	background: url("photos/ense.png") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin: 30px;
	margin-bottom: 100px;
/*	border: 1px solid #000;*/
}
.horizons {
	width: 60%;
	height: 600px;
	background: url("photos/horizons.png") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin-top: 160px;
	margin-bottom: 300px;
/*	border: 1px solid #000;*/
}
.text {
/*	border: 1px solid #000;*/
	position: relative;
	float: left;
    height: 780px;
	width: 49%;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 80px;
	text-align: center;
}
h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: 300;
	margin-top: 220px;
	text-align: center;
}
h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 43px;
	font-weight: 300;
	margin-top: 100px;
	text-align: left;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: left;
	/*margin-left: 170px;*/
}
h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100px;
  font-weight: 400;
}
.s {
    font-size: 70px;
    padding-top: 20px;
		padding-bottom: 100px;
}
.things {
    margin-left: 30px;
    font-size: 60px;
}
.slogan {
    font-size: 60px;
}
.coral {
		background-color: #ffe6ff;
}
.idea {
    font-size: 60px;
}
.goal {
		font-size: 40px;
		margin-bottom: 160px;
}

.center {
		text-align: center;
		margin-top: 40px;
}
#seventy {
		margin-top: 70px;
}
#marginbottom {
		margin-bottom: 180px;
}


.twophoto {
		float: left;
		width: 48.5%;
		height: 370px;
		/* border-width: 1;
		border-color: #000;
		border-style: solid; */
}
.twowidevert {
		width: 100%;
		height: 600px;
		margin-top: 70px;
}
.onephotovert {
		float: left;
		width: 48.5%;
		height: 600px;
		margin-right: 2.1%;
		/*border: solid 1px #f00;*/
}
.twophotovert {
		float: left;
		width: 48.5%;
		height: 600px;
		/*border: solid 1px #f00;*/
}
#mini1 {
	background: url("photos/fashion/mini3.jpg") no-repeat;
	background-position: 60% 43%;
	background-size: 120%;
}
#mini2 {
	background: url("photos/fashion/mini6.jpg") no-repeat;
	background-position: 60% 55%;
	background-size: 136%;
}
#mini3 {
	background: url("photos/fashion/mini11.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 120%;
}
#mini4 {
	background: url("photos/fashion/mini9.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 130%;
}
#mini5 {
	background: url("photos/fashion/mini5.jpg") no-repeat;
	background-position: 45% 55%;
	background-size: 160%;
}
#mini6 {
	background: url("photos/fashion/mini6.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
}
#neon1 {
	background: url("photos/fashion/neon_1.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 110%;
}
#neon2 {
	background: url("photos/fashion/neon_2.jpg") no-repeat;
	background-position: 50% 70%;
	background-size: 100%;
}
#red1 {
	background: url("photos/fashion/red_3.jpg") no-repeat;
	background-position: 80% 20%;
	background-size: 107%;
}
#red2 {
	background: url("photos/fashion/red_4.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 112%;
}
#red3 {
	background: url("photos/fashion/red_1.jpg") no-repeat;
	background-position: 50% 60%;
	background-size: 105%;
}
#red4 {
	background: url("photos/fashion/red_2.jpg") no-repeat;
	background-position: 80% 50%;
	background-size: 115%;
}


#paint1 {
    /*height: 548px;*/
    height: 706px;
	background: url("photos/painting/grey.jpg") no-repeat;
	background-position: 48% 80%;
	background-size: 104%;
}
#paint2 {
    /*height: 364px;*/
    height: 477px;
	background: url("photos/painting/small_circle.jpg") no-repeat;
	/*background-position: 56% 50%;*/
	background-position: 56% 55%;
	background-size: 100%;
}
#paint3 {
    /*height: 370px;*/
    height: 477px;
	background: url("photos/painting/black_cover.jpg") no-repeat;
	/*background-position: 56% 55%;*/
	background-position: 56% 52%;
	background-size: 100%;
}
#paint4 {
    /*height: 606px;*/
    /*border: solid 1px #f00;*/
    height: 785px;
	background: url("photos/painting/garden.jpg") no-repeat;
	/*background-position: 56% 55%;*/
	background-position: 56% 53%;
	background-size: 100%;
}
#paint5 {
    /*height: 370px;*/
    height: 477px;
	background: url("photos/painting/graphic_s.png") no-repeat;
	background-position: 56% 55%;
	background-size: 100%;
}
#paint6 {
    /*height: 520px;*/
    height: 670px;
	background: url("photos/painting/disney.jpg") no-repeat;
	background-position: 56% 62%;
	/*background-size: 109%;*/
	background-size: 110%;
	margin-bottom: 70px;
}
#paint7 {
	/*height: 370px;*/
	height: 477px;
	background: url("photos/painting/neon.jpg") no-repeat;
	background-position: 56% 55%;
	background-size: 100%;
}
#paint8 {
    /*height: 490px;*/
    height: 634px;
	background: url("photos/painting/crop_circle.jpg") no-repeat;
	/*background-position: 56% 55%;*/
	background-position: 56% 54%;
	background-size: 100%;
}
#paint9 {
    /*height: 300px;*/
    height: 392px;
	background: url("photos/painting/large_circle_cover.jpg") no-repeat;
	background-position: 56% 55%;
	background-size: 100%;
}



li {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 35px;
	font-weight: 300;
	margin-top: 10px;
	line-height: 1.3;
}
ul {
	margin-top: 70px;
    margin-left: 100px;
}
ol {
	margin-left: 110px;
}
#left-i {
	left: 0;
	position: absolute;
}
#right-i {
	right: 0;
	position: absolute;
}
.is {
	margin-top: -120px;
}

.white-line {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #fff;
}
.photos-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
/*	border: 1px solid #fff;*/
	margin-top: 80px;
}
.pic {
	width: 46%;
	height: 330px;
	display: inline-block;
	margin: 10px;
	box-shadow: 2px 2px 6px rgba(250, 250, 250, 0.7);
}

.demoyea {
  margin-bottom: 200px;
}
